.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2em;
    
    .heading-tag{
        h2{
            font-weight: 700;
            text-transform: uppercase;

        }

    }
    .nav-links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
       
        .theme-icons{
            border: 1px solid var(--box-border-color);
            border-radius: 8px;
            padding: .4em 1em;
            transition: all .3s ease-in-out;
            background-color: var(--back-ground-color);
            i{
                font-size: 1.2em;
                cursor: pointer;
                background-color: var(--back-ground-color);
            }
        }
        .menu-icons-area{
            position: relative;
            transition: all 5s ease-in;
            .menu-icons{
                cursor: pointer;
                display: none;
               i{
                font-size: 1.2em;
                font-weight: 700;
                padding: 10px 11px;
                background-color: var(--back-ground-color);
                box-shadow:0 0 10px 0 var(--box-shadow-color);
                border-radius: 45%;
               }

               @media(max-width:1020px){
                 display: block;
                }
            }
            ul{
                position: absolute;
                z-index: 999999;
                right: 20%;
                top: 2.5rem;
                margin: 0;
                list-style: none;
                background-color: var(--back-ground-color);
                box-shadow: 0 0 10px 0 var(--box-shadow-color);
                padding:1.5rem  1rem;
                border-radius: 8px;
                width: 200px;
                li{
                    padding-top: 15px;
                    cursor: pointer;
                    background-color: inherit;
                }
                li:hover{
                    color: var(--active-link-color);
                }
                li.active{
                    color: var(--active-link-color);
                    font-weight: 600;
                }
                
            }
        }

    }
    
}