<div class="wrapper">
    <div class="heading-tag">
        <h2>< / ></h2>
    </div>
    <div class="nav-links">
        <div class="theme-icons" (click)="themeTogggler()">
            @if(isDarkTheme){
                <i class="bi bi-brightness-high-fill"></i>
            }
            @else {
                <i class="bi bi-moon-stars-fill"></i>
            }
        </div>
        <div class="menu-icons-area">
            <div class="menu-icons" (click)="openMenu()">
                @if (!isMenuOpen) {
                    <i class="bi bi-list" ></i>
                }
                @else{
                    <i class="bi bi-x-lg"></i>
                }
            </div>
            @if(isMenuOpen){
                <ul>
                    <li routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="isMenuOpen = !isMenuOpen" >Projects </li>
                    <li routerLink="/workExperience" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  (click)="isMenuOpen = !isMenuOpen" >Experience</li>
                    <li routerLink="/education-skills" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="isMenuOpen = !isMenuOpen"  >Education & Skills</li>
                    <li routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="isMenuOpen = !isMenuOpen"  >About</li>
                </ul>
            }
        </div>
        
    </div>
</div>