<div class="wrapper">
    <div class="page-heading">
        <h1>About</h1> 
        <span></span>
    </div>
    <div class="heading-content">
        <p>
            I have been a developer for over 2.8 years, and over that time I have refined my abilities in many different technologies, including Angular, Java, React, and Spring Boot. I'm determined to pursue a job that pushes me outside of my comfort zone and challenges me on a regular basis. I have an equal love for technology and a drive to learn and adapt, which helps me flourish in settings that call for constant innovation and problem-solving.
        </p>
    </div>

    <div class="my-works">
        <div class="section-title">
           <h2> What i do !</h2>
        </div>
        <div class="work-section">
            <div class="work">
                <div class="work-title">
                    <span>
                        <i class="bi bi-code-slash"></i>
                    </span> 
                    <p> 
                        Web Development</p>
                </div>
                <div class="work-des">
                    <p>I design and develop the websites for clients, with clean and simple UI </p>
                </div>
                <div class="techs">
                    @for (item of frontEnd; track $index) {
                    <div class="tech">
                        <img src= "../../assets/tech-icons/{{item}}.png"  [alt]="item">
                    </div>
                    }
                </div>
            </div>
            <div class="work">
                <div class="work-title">
                    <span>
                        <i class="bi bi-braces-asterisk"></i>
                    </span> 
                    <p> Restful API Development</p>
                </div>
                <div class="work-des">
                    <p>I design and develop the Secured Restful Apis,  </p>
                </div>
                <div class="techs">
                    @for (item of backEnd; track $index) {
                    <div class="tech">
                        <img src= "../../assets/tech-icons/{{item}}.png"  [alt]="item">
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>