
$dark-primary-text-color:#eee;
$dark-back-ground-color: #181818;

$dark-card-bg-color:#F6F5F6;
$dark-box-shadow-color:#0F0F11;

$dark-button-bg-color:#5D1134;;
$dark-button-bg-hover-color:#3E001D;
$dark-button-text-color:#FFFFFF;
$dark-secondary-text-color:#979797;

$dark-box-border-color:#0F0F11;
$dark-active-link-color:#381E72;

$dark-theme-body-bg-color:#0F0F11;

$dark-secondary-bg-color:#232125;