$primary-text-color:#151417;
$back-ground-color: #FFFFFF;
$card-bg-color:#F6F5F6;
$box-shadow-color:rgba(0 0 0/10%);
$button-bg-color:#5D1134;;
$button-bg-hover-color:#3E001D;
$button-text-color:#FFFFFF;
$secondary-text-color:#323033;
$box-border-color:#E4E3E6;
$active-link-color:#381E72;
$theme-body-bg-color:#EDF2F2;

$secondary-bg-color:#F3F6F6;