<div class="wrapper">
    <app-title-card [pageTitle]="pageTitle"></app-title-card>
    <div class="project-container">
        <div class="project">
            <div class="project-image">
                <img src="../../assets/projects/my-reviews-page.png" alt="Moview Poster">
            </div>
            <div class="project-details">
                <h3>Movie Review Application</h3>
                <p>Angular + Java fullstack application</p>
            </div>
        </div>
        <div class="project">
            <div class="project-image">
                <img src="../../assets/projects/my-reviews-page.png" alt="Moview Poster">
            </div>
            <div class="project-details">
                <h3>Movie Review Application</h3>
                <p>Angular + Java fullstack application</p>
            </div>
        </div>
    </div>
</div>