<div class="wrapper">
    <app-title-card [pageTitle]="pageTitle"></app-title-card>
    <div class="project-container">
        @for (project of listOfProjects; track $index) {
            <div class="project" (click)="openProject(project)">
                <div class="project-image">
                    <img [src]="project.poster" alt="Moview Poster">
                </div>
                <div class="project-details">
                    <h3>{{project.title}}</h3>
                    <p>{{project.cardTitle}}</p>
                </div>
            </div>
        }
        
    </div>
</div>

<div class="popup-area" [ngClass] =" isProjectClicked ? 'active':''">
    <div class="popup">
        <app-info-popup (closePopupEvent) ="closePopupListner()"  ></app-info-popup>
    </div>
</div>