.wrapper{
    padding: 2em 2em;

    .project-container{
        margin: 2em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        .project{
            cursor: pointer;
            width: 370px;
            padding: 20px;
            border-radius: 8px;
            background-color: var(--secondary-bg-color);
            .project-image{
                img{
                    width: 320px;
                    border-radius: 4px;
                    
                }
            }
            .project-details{
                padding-top: 1em;
                p{
                    padding-top: .3em;
                    color: var(--secondary-text-color);

                }
            }
            @media(max-width:1020px){
                padding: 10px;
            }
        }
        .project:hover{
            color: #fff;
            background-color: var(--active-link-color);
            .project-details{
                p{
                    color: #f1f1f1;
                }
            }
        }

        @media(max-width:1020px){
           justify-content: center;
           align-items: center;
        }
    }
    @media(max-width:1020px){
        padding: 0;
    }


}

.popup-area{
    position: fixed;
    height: 100dvh;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    transition: .3s ease;
    visibility: hidden;
    opacity: 0;
    backdrop-filter: blur(5px);
    .popup{
        padding: 20px;
        border-radius: 8px;
        box-shadow:  0 0 10px 0 var(--box-shadow-color);
        background-color: var(--back-ground-color);
        max-width: 750px;
        width: 100%;
        transform: translateY(-50px);
        transition: .5s ease;

        @media(max-width:1020px){
            padding: 10px;
            width: 400px;
        }
    }
    
}
.active{
    visibility: visible;
    opacity: 1;
}
.popup-area.active{
    transform: translateY(0);
    .popup{
        transform: translateY(0);
    }
}

