<div class="wrapper">
    <div class="profile-logo">
        <img src="../../assets/pic4.jpg" alt="PROFILE_PIC">
    </div>
   <div class="info-card">
        <div class="author-brief">
            <div class="name">
                <h2>Swamy Thudum</h2>
                <span>Fullstack Developer</span>
            </div>
            <div class="social-icons">
                <i class="bi bi-github"></i>
                <i class="bi bi-linkedin"></i>
                <i class="bi bi-envelope-at-fill"></i>
            </div>
        </div>
        <div class="contact-info">
            <div class="info">
                <div class="info-icon">
                    <i class="bi bi-phone"></i>
                </div>
                <div class="info-content">
                    <span class="heading">Phone</span>
                <span class="content"> +91 9705957757</span>
                </div>
            </div>
            <div class="info">
                <div class="info-icon">
                    <i class="bi bi-envelope-paper"></i>
                </div>
                <div class="info-content">
                    <span class="heading">Email</span>
                     <span class="content">{{'thudumswamy786@ gmail.com'}}</span>
                </div>
            </div>
            <div class="info">
                <div class="info-icon">
                    <i class="bi bi-geo-fill"></i>
                </div>
                <div class="info-content">
                    <span class="heading">Location</span>
                    <span class="content">Hyderabad</span>
                </div>
            </div>
        </div>
        <div class="download-btn flex-align-center">
            <button>
                <i class="bi bi-download"></i>
                Download
            </button>
           
        </div>
   </div>
</div>